<mat-card *ngIf="country" class="card">
  <mat-card-header>
    <mat-card-title class="card-title">{{country.name.common}}</mat-card-title>
    <mat-card-subtitle class="card-subtitle">{{country.region}}</mat-card-subtitle>
    <mat-card-subtitle class="card-subtitle">{{country.subregion}}</mat-card-subtitle>
  </mat-card-header>
  <img class="card-image" mat-card-image src="{{country.flags.png}}" alt="">
  <mat-card-content class="content-container">
    <p>Capital: {{country.capital}}</p>
    <p>Population: {{country.population}}</p>
    <p>Alternative spellings: {{country.altSpellings}}</p>
    </mat-card-content>
</mat-card>

